extends layout

block content
  h1= article.title
  h4.my-2 Written by #{article.author}
  p.lead= article.body
  hr
  a.btn.btn-dark(href=`/articles/edit/${article._id}`) Edit
  a.btn.btn-danger.mx-2.delete(href='/articles', data-id=article._id) Delete